<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    {% load static %}    
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    
    <nav>
        {% include 'components/navbar.html' %}
        <h2 class="logo">Driving <span>Masters</span></h2>
      </nav>

    <section class="service" id="service">
        <div class="center">
            <h2>These are the awesome services that we offer</h2>
        </div>

        <div class="service-content">
            <div class="row">
                <span class="material-symbols-outlined">
                    home
                    </span>
                <h3>Web Development</h3>
                <p>Lorem, ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Pariatur minus aperiam id cupiditate,
                     facere nihil dolores aut fugiat 
                     quaerat magnam ducimus eum mollitia 
                     quis earum, similique, culpa soluta 
                     blanditiis omnis.</p>

            </div>
            <div class="row">
                <span class="material-symbols-outlined">
                    home
                    </span>
                <h3>Web Development</h3>
                <p>Lorem, ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Pariatur minus aperiam id cupiditate,
                     facere nihil dolores aut fugiat 
                     quaerat magnam ducimus eum mollitia 
                     quis earum, similique, culpa soluta 
                     blanditiis omnis.</p>

            </div>
            <div class="row">
                <span class="material-symbols-outlined">
                    home
                    </span>
                <h3>Web Development</h3>
                <p>Lorem, ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Pariatur minus aperiam id cupiditate,
                     facere nihil dolores aut fugiat 
                     quaerat magnam ducimus eum mollitia 
                     quis earum, similique, culpa soluta 
                     blanditiis omnis.</p>

            </div>
            <div class="row">
                <span class="material-symbols-outlined">
                    home
                    </span>
                <h3>Web Development</h3>
                <p>Lorem, ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Pariatur minus aperiam id cupiditate,
                     facere nihil dolores aut fugiat 
                     quaerat magnam ducimus eum mollitia 
                     quis earum, similique, culpa soluta 
                     blanditiis omnis.</p>

            </div>

        </div>

    </section>
    {% include 'components/footer.html' %}
</body>
</html>