{% extends 'base.html' %}

{% block styles %}
<style>
    body {
        background: url("{{bg.image.url}}") fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;      
    }
    /* Set a style for the submit button */
    .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    }
</style>

{% endblock%}
{% block body %}
<div class="flex">
 
    <div class="w- 6/6 px-24" >
        <h1 class="text-6xl" style="color:white">Contact</h1>

        <h4 style="color:white">Contact us directly if you have any questions</h4>

        <p style="color:white">

            Please write your name, email address and a message below if you have any questions.
            <br>
            One of our staff members will be happy to contact you directly and answer your questions as soon as
            possible.
        </p>
        <form class="shadow-xl" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->


</div>
{% endblock %}

