<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    {% load static %}    
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    {% include 'components/navbar.html' %}
    <section class="contact">
    <div class="contactcontent">
        <h2>Contact Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Dicta porro 
            necessitatibus cupiditate voluptatibus
             facilis neque recusandae, harum debitis
              quibusdam dolore suscipit, nihil sit
               mollitia repudiandae ea saepe.
                Dicta, quis aspernatur.</p>

    </div>

    <div class="containers">
        <div class="contactInfo">
            <div class="boxx">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        <span class="material-symbols-outlined">
                            pin_drop
                            </span>
                        </span>
                </div>
                <div class="text">
                    <h3>Address</h3>
                    <p>Rietvlei Farm, 101 Swartkoppies Road
                        <br>
                        Alberton 1448
                       
                    </p>
                </div>
            </div>
            <div class="boxx">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        call
                        </span>
                </div>
                <div class="text">
                    <h3>Cell</h3>
                    <p>
                        0722779590
                    </p>
                </div>
            </div>
            <div class="boxx">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        call
                        </span>
                </div>
                <div class="text">
                    <h3>Cell</h3>
                    <p>
                        0833072491
                    </p>
                </div>
            </div>
            <div class="boxx">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        mail
                        </span>
                </div>
                <div class="text">
                    <h3>Email</h3>
                    <p>
                        info@drivingmasters.co.za
                    </p>
                </div>
            </div>
        </div>
        <div class="contactForm">
            <form>
                <h2>Send Message</h2>
                <div class="inputBox">
                    <input type="text" name="" required = "required">
                    <span>Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="" required = "required">
                    <span>Surname</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="" required = "required">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <textarea required = "required"></textarea>
                    <span>Message</span>
                </div>
                <div class="inputBox">
                    <input type="submit" name="" value="send"
                    
                </div>
            </form>

        </div>

    </div>


    </section>
    
</body>
</html>