{% extends 'base.html' %}

{% block body %}
<div class="flex">
    <div class="w-2/6">
        <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="{{ images.image1.url }}" class=" shadow-lg">
              </div>
              <div class="flip-box-back">
                <h2>Paris</h2>
                <p>Just checking</p>
              </div>
            </div>
          </div> 

          
        <!-- <span class="material-icons-outlined">
            location_on
        </span> -->

        <div class="shadow-lg">
            <img src="{{ images.image1.url }}" class=" shadow-lg">
        </div>
        <div class="shadow-lg">
            <img src="{{ images.image2.url }}" class=" shadow-lg">
        </div>
        <div class="shadow-lg">
            <img src="{{ images.image3.url }}" class=" shadow-lg">
        </div>

    </div>
    <div class="w- 4/6 px-24">
        <h1 class="text-6xl">Contact</h1>

        <h4>Contact us directly if you have any questions</h4>

        <p>

            Please write your name, email address and a message below if you have any questions.
            <br>
            One of our staff members will be happy to contact you directly and answer your questions as soon as
            possible.
        </p>
        <form class="shadow-xl" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

