<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% load static %}    
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<footer>
    <p class="logo">Driving <span>Masters</span></p>
    <p class="logo"><span>Email: </span> info@drivingmasters.co.za
    <br>
    <span>Tel: </span> 0722779590
    <br>
    <span>Tel: </span> 0833072491
    <br>
    <span>Address: </span> Rietvlei Farm, 101 Swartkoppies Road, Alberton, 1448
    </p>

    <p class="end"> CopyRight by Driving Masters</p>
  
  
  </footer>

    </body>
   
