
{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- <button class="btn home">Home</button>
<button class="btn gallery">gallery</button>
<button class="btn contact">contact</button>
<button class="btn default">Default</button>  -->
<!-- <a href="/"><button class="btn home">home</button></a>
<a href="{% url 'services:get-services-page' %}"><button class="btn home">services</button></a>
<a href="{% url 'gallery:get-gallery-page' %}"><button class="btn home">gallery</button></a>
<a href="{% url 'contacts:get-contacts-page' %}"><button class="btn home">contacts</button></a> -->
<!-- <a href="{% url 'gallery:get-gallery-page' %}"><button class="btn home">gallery</button></a> -->

<!--

        .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    }
-->

<!-- <a class="bg-blue-500 text-white px-5 py-2 lg:text-red-300 lg:py-7 lg:px-10 cursor-pointer w-full bg-opacity-90" href="/">home</a>
<a class="bg-blue-500 text-white px-5 py-2 lg:text-red-300 lg:py-7 lg:px-10 cursor-pointer w-full bg-opacity-90" href="{% url 'services:get-services-page' %}">services</a>
<a class="bg-blue-500 text-white px-5 py-2 lg:text-red-300 lg:py-7 lg:px-10 cursor-pointer w-full bg-opacity-90" href="{% url 'gallery:get-gallery-page' %}">gallery</a>
<a class="bg-blue-500 text-white px-5 py-2 lg:text-red-300 lg:py-7 lg:px-10 cursor-pointer w-full bg-opacity-90" href="{% url 'contacts:get-contacts-page' %}">contacts</a> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The sidebar -->
<div class="sidebar">
  <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="{% url 'services:get-services-page' %}"><i class="fa fa-fw fa-wrench"></i> Services</a>
  <a href="{% url 'gallery:get-gallery-page' %}"><i class="fa fa-fw fa-user"></i> Gallery</a>
  <a href="{% url 'contacts:get-contacts-page' %}"><i class="fa fa-fw fa-envelope"></i> Contact</a>
</div> 


{% endblock %}